machine-learning-ex1/ex1/token.mat
machine-learning-ex2/ex2/token.mat
machine-learning-ex3/ex3/token.mat
machine-learning-ex4/ex4/token.mat
machine-learning-ex5/ex5/token.mat
machine-learning-ex6/ex6/token.mat
machine-learning-ex7/ex7/token.mat
machine-learning-ex8/ex8/token.mat
